<!DOCTYPE html>
<html>
    <head></head>
    <body>

        <div ng-controller="UsersController">
            <button ng-click="getUsers()">Get all users</button>
            <div ng-if="users">
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.name}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>